train_model_alexnet_multilabel.ipynb
train_model_alexnet_multilabel.ipynb
train_model_alexnet_multilabel.ipynb
train_model_alexnet_multilabel.ipynb
.ipynb_checkpoints/train_model_alexnet_multilabel-checkpoint.ipynb
.ipynb_checkpoints/train_model_efficientnetv2s_multilabel-checkpoint.ipynb
train_model_alexnet_multilabel.ipynb
alexnet_sports_non_sports_multilabel.pt
dataset/
